.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    border: 1px ridge #cbc7c7;
    border-radius: 8px;
  }
    
.text-form-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* background-color: #f5f5f5; */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  
  /* Button container styles */
  .button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  /* Summary styles */
  .container.my-1 {
    margin-top: 20px;
    padding: 10px;
    /* background-color: #f5f5f5; */
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Header styles */
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  h4 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  /* Paragraph styles */
  p {
    font-size: 16px;
    margin: 5px 0;
  }
  